{{ include('/parts/header.twig') }}

<div class="container">
    <form action="/login" method="POST">
        <div class="modal-header">
            <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Login</label>
                <input name="login" type="text" class="form-control" value="" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" value="" required>
            </div>
        </div>

        <div class="modal-footer">
            <a type="button" href="/" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <input type="submit" class="btn btn-success" value="Login">
        </div>
    </form>

    <div class="row" style="margin: 30px auto 0px">
        <div class="col-sm-5 js_messages">
            {% for message in messages %}
                <div class="alert alert-warning fade-out">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{{ include('/parts/footer.twig') }}
