{{ include('/parts/header.twig') }}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Tasks</b></h2>
                </div>

                <div class="col-sm-6">
                    {% if userId > 0 %}
                        <a href="/logout" class="btn btn-info">
                            <i class="material-icons">exit_to_app</i>
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="/login" class="btn btn-info">
                            <i class="material-icons">account_circle</i>
                            <span>Login</span>
                        </a>
                    {% endif %}
                    <a href="/create" class="btn btn-success">
                        <i class="material-icons">add_circle</i>
                        <span>Add New Task</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    <span {% if request.name %}style="text-decoration: underline"{% endif %}>Name&nbsp</span>
                    <a href="
                            {% if request.name == null %}
                                /?page={{ request.page }}&name=asc
                            {% elseif  request.name == 'asc' %}
                                /?page={{ request.page }}&name=desc
                            {% else %}
                                /?page={{ request.page }}
                            {% endif %}
                            ">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                <th>
                    Email&nbsp
                    <a href="
                            {% if request.email == null %}
                                /?page={{ request.page }}&email=asc
                            {% elseif  request.email == 'asc' %}
                                /?page={{ request.page }}&email=desc
                            {% else %}
                                /?page={{ request.page }}
                            {% endif %}
                            ">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
                <th>Description</th>
                <th>
                    Done&nbsp
                    <a href="
                            {% if request.status == null %}
                                /?page={{ request.page }}&status=asc
                            {% elseif  request.status == 'asc' %}
                                /?page={{ request.page }}&status=desc
                            {% else %}
                                /?page={{ request.page }}
                            {% endif %}
                            ">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </a>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td class="task-id" id="task.id" style="display: none"></td>
                    <td class="col-sm-2">{{ task.name }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        <input disabled type="checkbox" name="options[]" value="{{ task.status }}"
                               {% if task.status > 0 %}checked{% endif %}>
                        {% if task.touch > 0  %}<i class="material-icons" data-toggle="tooltip" title="Edited by Admin">account_box</i>{% endif %}

                    </td>
                    <td>
                        <a href="/edit?id={{ task.id }}" class="edit">
                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        </a>
                        <a href="#deleteTaskModal" class="js_delete delete" data-id="{{ task.id }}" data-toggle="modal">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>{{ onPageCount }}</b> of <b>{{ count }}</b> entries</div>
            <ul class="pagination">
                {% for pageN in 1..pagesCount %}
                    <li class="page-item {% if request.page == pageN %}active{% endif %}">
                        <a href="/?page={{ pageN }}{% for k, v in request %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}"
                           class="page-link">{{ pageN }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="row" style="margin: 30px auto 0">
            <div class="col-sm-5 js_messages">
                {% for message in messages %}
                    <div class="alert alert-warning fade-out">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteTaskModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Task</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" id="js_deleteConfirm" class="btn btn-danger" data-id="" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(".js_delete").click(function () {
        let id = $(this).data('id');
        $('#js_deleteConfirm').attr('data-id', id)
    });

    $('#js_deleteConfirm').click(function (e) {
        e.preventDefault();
        let id = $(this).data('id');
        $.ajax({
            method: "POST",
            data: {_method: 'DELETE', id: id},
            url: "/task",
        }).done(function (data) {
            if (data.status === 'ok') {
                window.location.reload();
            } else {
                $('.js_messages').html('<div class="alert alert-warning fade-out">You don\'t have access</div>');
            }

        });
    });

</script>

{{ include('/parts/footer.twig') }}
