{{ include('/parts/header.twig') }}

<div class="container">
    <form action="/task" method="POST">
        <div class="modal-header">
            <h4 class="modal-title">Edit Task</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" value="{{ task.id }}">
            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" value="{{ task.name }}" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" value="{{ task.email }}" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control" required>{{ task.description }}</textarea>
            </div>
            <div class="form-group">
                <label>Done</label><br/>
                <input name="status" type="checkbox" value="1" {% if task.status %}checked{% endif %}>
            </div>
        </div>

        <div class="modal-footer">
            <a type="button" href="/" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
</div>

{{ include('/parts/footer.twig') }}
