{{ include('/parts/header.twig') }}

<div class="container">
    <form id="js_addTaskForm" action="/" method="POST">
        <div class="modal-header">
            <h4 class="modal-title">Add Task</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control" required></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <a type="button" href="/" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <input type="submit" class="btn btn-success" value="Add">
        </div>
    </form>
</div>

{{ include('/parts/footer.twig') }}
